.load-more-button {
    margin: 0 auto;
    display: block;
}
.secton-title {
    padding-top: 20px;
    margin-bottom: 30px;
}
.fitler-siderbar {
    border-left: 1px solid #ccc;
}
.order-by {
    margin-bottom: 30px; 
    .form-control {
        min-width: 280px;
        width: 30px;
    }
}