.grouped-product {
    label {
        display: block;
        clear: both;
        overflow: hidden;
        min-width: 430px;
        width: 50%;
        margin-bottom: 30px;
        .product-name {
            float: left;
            margin-right: 30px;
            min-width: 200px;
        }
        .form-control {
            float: left;
            width: 80px;
            margin-right: 20px;
        }
        .price-name {
            float: left;
        }
    }
}
.single-product-wrapper {
    padding-top: 80px;
    .tab-content {
        margin-top: 30px;
    }
}